body{
    margin:0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.mainpage{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    height: 100vh;
}

/* Aside bar CSS starts from here */

::-webkit-scrollbar{
    /* hides the scrollbar */
    display: none;
}
.part1{
    width: 24vw;
    color: white;
    background-color: #0C0E10;
    overflow-y: scroll;
}
.asidebar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.logotitle>img{
    width:22vw;
    margin: 20px;
   
}
.logotitle>h3{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.logotitle>p{
    color: #FF2424;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    text-align: center;
}
.asidelist1>p{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
}
.asidelist1>ol{
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
}
.asideborder{
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgb(28,32,37);
    background-color: ;
}


/* Part2 CSS STARTS FROM HERE */

.part2{
    background-color: #111315;
    width: 76vw;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap;  */
    overflow-y: scroll;
}

.sitenav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    background: #191D20;
    padding: 20px;
    /* position: sticky;
    top: 0px; */
}
.navimg1{
    background-color: #272A30;
}
.navimg2{
    width:4vw
}
#navsearch{
    width: 36vw;
    background-color: #272A30;
    color: #878787;
    border:none;
    padding: 15px;
    margin-top: 5px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
/* Removing highlighting part of input element */
.sitenav>input:focus{
    outline: none;
}
div>i{
    color: #878787;
    padding-left: 10px;
}
.sitenav>button{
    background-color: #FF2424;
    padding: 8px 55px;
    color: white;
    border-radius: 7px;
    margin-inline: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.sitenav>div{
    margin-inline: 10px;
    background-color: #272A30;
    border-radius: 5px;
}

/* Hero Section of Page */
.herosection{
    width:73vw;
    margin-inline: auto;
    margin-top: 20px;
}
.herosection>img{
    width: 100%;
}

.page2link{
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    color: white;
    margin:20px 50px;
}
.page2link>a{
    text-decoration: none;
    color: white;
}
.page2link>a:hover{
    color: red;
}

/* CARD CSS STARTS FROM HERE */
.menuitems{
    display: flex;
    width: 76vw;
    margin-bottom: 30px;
    overflow: hidden;
    overflow-x: auto;
}
.scroll-card{
     display: flex;
     white-space: nowrap;
     margin-left: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    border-radius: 10px;
    background: #191D20;
    margin-inline: 20px;
}
.cardtext{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}
.cardtext>div>img{
    background-color: #272A30;
    border-radius: 7px;
    padding: 5px;
}